<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableviewExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FE6243E1EAD429E0004CE68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FE624521EAD429F0004CE68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FE6245D1EAD429F0004CE68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
